<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>City_info</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>homeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>com.seehope.servlet.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.seehope.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.seehope.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerServlet</display-name>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>com.seehope.servlet.managerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/managerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>topServlet</display-name>
    <servlet-name>topServlet</servlet-name>
    <servlet-class>com.seehope.servlet.topServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topServlet</servlet-name>
    <url-pattern>/topServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leftServlet</display-name>
    <servlet-name>leftServlet</servlet-name>
    <servlet-class>com.seehope.servlet.leftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leftServlet</servlet-name>
    <url-pattern>/leftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNoticeServlet</display-name>
    <servlet-name>addNoticeServlet</servlet-name>
    <servlet-class>com.seehope.servlet.addNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNoticeServlet</servlet-name>
    <url-pattern>/addNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addOrUpdateNoticeServlet</display-name>
    <servlet-name>addOrUpdateNoticeServlet</servlet-name>
    <servlet-class>com.seehope.servlet.addOrUpdateNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOrUpdateNoticeServlet</servlet-name>
    <url-pattern>/addOrUpdateNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doAddOrUpdateNoticeServlet</display-name>
    <servlet-name>doAddOrUpdateNoticeServlet</servlet-name>
    <servlet-class>com.seehope.servlet.doAddOrUpdateNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAddOrUpdateNoticeServlet</servlet-name>
    <url-pattern>/doAddOrUpdateNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticePageServlet</display-name>
    <servlet-name>NoticePageServlet</servlet-name>
    <servlet-class>com.seehope.servlet.NoticePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticePageServlet</servlet-name>
    <url-pattern>/NoticePageServlet</url-pattern>
  </servlet-mapping>
</web-app>